@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

body{
	height: 100vh;
	background: url("woven.jpg") no repeat center / cover;
	padding: 50px 5%;
}

.container {
	transform: scale(0);
	animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in{
	100%{
		transform: scale(1);
	}
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.animated{
	transform: translateY(30px);
	opacity: 0;
	animation: slide-in 1s ease forwards;
	animation-delay: 1s;
}

@keyframes slide-in {
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.logo{
	font-size: 25px;
	color: whitesmoke;
	text-decoration: none;
	font- font-weight: 800;
}

.navbar a{
	font-size: 18px;
	color: whitesmoke;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	border-bottom: 2px solid transparent;
	transition: .5s;
}

.navbar a:hover,
.navbar a.active {
	border-color: whitesmoke;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 50px;
	padding: 50px 5% 0;
	color: whitesmoke;
	animation-delay: 1.5s;
}

h1{
	color: whitesmoke;
}

ol, li{
	color: whitesmoke;
}