@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

body{
	height: 100vh;
	background: url("woven.jpg") no repeat center / cover;
	padding: 50px 5%;
}

.container {
	transform: scale(0);
	animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in{
	100%{
		transform: scale(1);
	}
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.animated{
	transform: translateY(30px);
	opacity: 0;
	animation: slide-in 1s ease forwards;
	animation-delay: 1s;
}

@keyframes slide-in {
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.logo{
	font-size: 25px;
	color: whitesmoke;
	text-decoration: none;
	font- font-weight: 800;
}

.navbar a{
	font-size: 18px;
	color: whitesmoke;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	border-bottom: 2px solid transparent;
	transition: .5s;
}

.navbar a:hover,
.navbar a.active {
	border-color: whitesmoke;
}

.home {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 50px;
	padding: 50px 5% 0;
	color: whitesmoke;
	animation-delay: 1.5s;
}

.home-detail h1{
	font-size: 55px;
	line-height: 1;
	color: lightslategrey;
}

.home-detail h2{
	font-size: 32px;
}

.home-detail p{
	margin: 10px 0 20px;
}

.home-detail .download-social{
	display: inline-flex;
	align-items: center;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	background: whitesmoke;
	border: 2px solid whitesmoke;
	border-radius: 40px;
	box-shadow: 0 0 10px whitesmoke;
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.btn:hover {
	background: transparent;
  box-shadow: none;
  color: whitesmoke;
}

.home-detail.social-icons{
	margin-left: 20px;
}

.home-detail .social-icons a{
	display: inline-flex;
	padding: 8px;
	border: 2px solid whitesmoke;
	border-radius: 50%;
	font-size: 20px;
	color: whitesmoke;
	text-decoration: none;
	margin: 0 8px;
	transition: .5s;
}

.home-detail .social-icons a:hover{
	background: whitesmoke;
	box-shadow: 0 0 10px;
	color: black;
}

table, tr, td, th 
{
	border: 3px solid deepskyblue;
	border-collapse: collapse;
	color: whitesmoke;
}
th 
{
	background-color: blanchedalmond;
	color: olivedrab;

